<{extends file="common/common.html"}>

<{block name='title'}>发起问题 - <{/block}>

<{block name="content"}>

<div class="aw-container-wrap">
  <div class="container aw-publish">
    <div class="row">
      <div class="aw-content-wrap clearfix">
        <div class="col-sm-12 col-md-9 aw-main-content">
          <!-- tab 切换 -->
          <ul class="nav nav-tabs aw-nav-tabs active">
            <li><a href="http://localhost/wecenter/?/publish/article/">文章</a></li>
            <li class="active"><a href="http://localhost/wecenter/?/publish/">问题</a></li>
            <h2 class="hidden-xs"><i class="icon icon-ask"></i> 发起</h2>
          </ul>
          <!-- end tab 切换 -->
          <form id="question_form" method="post"
              action="<{framework\core\Factory::U('home/question/addHandle')}>">
            <div class="aw-mod aw-mod-publish">
              <div class="mod-body">
                <h3>问题标题:</h3>
                <!-- 问题标题 -->
                <div class="aw-publish-title">
                  <input type="text" value="" id="question_contents" name="question_title" placeholder="问题标题...">
                  <select style="float:right" id="category_id" name="cat_id">
                    <option value="0">- 顶级分类 -</option>
                    <{foreach $cat_list as $row}>
                    <option value="<{$row['cat_id']}>">
                      <{$row['cat_name']|indent:$row['level']:"&nbsp;&nbsp;&nbsp;"}>
                    </option>
                    <{/foreach}>
                  </select>
                </div>
                <!-- end 问题标题 -->
                <h3>问题补充 (选填):</h3>
                <div class="aw-mod http://localhost/0909/index.php/home/question/detail/id/20">
                  <textarea rows="8" cols="90" name="question_desc"></textarea>
                </div>
                <h3>添加话题:</h3>
                <div class="aw-topic-bar">
                  <div class="topic-bar clearfix">
                    <{foreach $topic_list as $row}>
                    <span class="topic-tag">
                    <input type="checkbox" name="topic_id[]" value="<{$row['topic_id']}>"/>
                    <{$row['topic_title']}>
                    </span>
                    <{/foreach}>
                  </div>
                </div>
              </div>
              <div class="mod-footer clearfix">
                <span class="aw-anonymity">
                <label><input type="checkbox" name="anonymous" value="1" class="pull-left">
                  匿名</label>

                </span>
                <input type="submit" id="publish_submit" class="btn btn-large btn-success btn-publish-submit" value="确认发起">
              </div>
            </div>
          </form>
        </div>
        <!-- 侧边栏 -->
        <div class="col-sm-12 col-md-3 aw-side-bar hidden-xs">
          <!-- 问题发起指南 -->
          <div class="aw-mod publish-help">
            <div class="mod-head">
              <h3>问题发起指南</h3>
            </div>
            <div class="mod-body">
              <p><b>• 问题标题:</b> 请用准确的语言描述您发布的问题思想</p>
              <p><b>• 问题补充:</b> 详细补充您的问题内容, 并提供一些相关的素材以供参与者更多的了解您所要问题的主题思想</p>
              <p><b>• 选择话题:</b> 选择一个或者多个合适的话题, 让您发布的问题得到更多有相同兴趣的人参与. 所有人可以在您发布问题之后添加和编辑该问题所属的话题</p>
            </div>
          </div>
          <!-- end 问题发起指南 -->
        </div>
        <!-- end 侧边栏 -->
      </div>
    </div>
  </div>
</div>
<{/block}>