<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta content="IE=edge,Chrome=1" http-equiv="X-UA-Compatible">
  <meta content="webkit" name="renderer">
  <title><{block name='title'}><{/block}> - 有问必答</title>
  <meta content="有问必答,知识社区,社交社区,问答社区" name="keywords">
  <meta content="有问必答 社交化知识社区" name="description">

  <link type="image/x-icon" rel="shortcut icon" href="<{PUBLIC_HOME}>css/default/img/favicon.ico">

  <base href="">
  <!--[if IE]>
  </base>
  <![endif]-->

  <link type="text/css" rel="stylesheet" href="<{PUBLIC_HOME}>css/bootstrap.css">
  <link type="text/css" rel="stylesheet" href="<{PUBLIC_HOME}>css/icon.css" >
  <link type="text/css" rel="stylesheet" href="<{PUBLIC_HOME}>css/default/common.css">
  <link type="text/css" rel="stylesheet" href="<{PUBLIC_HOME}>css/default/link.css">
  <link type="text/css" rel="stylesheet" href="<{PUBLIC_HOME}>js/plug_module/style.css">

  <link type="text/css" rel="stylesheet" href="<{PUBLIC_HOME}>css/default/login.css">
  <link type="text/css" rel="stylesheet" href="<{PUBLIC_HOME}>css/default/register.css">

  <script type="text/javascript">
      var _BDC5955058AF5448FAEB7201057CD351 = "";
      var G_POST_HASH = _BDC5955058AF5448FAEB7201057CD351;
      var G_INDEX_SCRIPT = "?/";
      var G_SITE_NAME = "";
      var G_BASE_URL = "?";
      var G_STATIC_URL = "static";
      var G_UPLOAD_URL = "uploads";
      var G_USER_ID = "";
      var G_USER_NAME = "";
      var G_UPLOAD_ENABLE = "N";
      var G_UNREAD_NOTIFICATION = 0;
      var G_NOTIFICATION_INTERVAL = 100000;
      var G_CAN_CREATE_TOPIC = "";
      var G_ADVANCED_EDITOR_ENABLE = "Y";

  </script>
  <script type="text/javascript" src="<{PUBLIC_HOME}>js/jquery.2.js"></script>
  <script type="text/javascript" src="<{PUBLIC_HOME}>js/jquery.form.js"></script>
  <script type="text/javascript" src="<{PUBLIC_HOME}>js/plug_module/plug-in_module.js"></script>
  <script type="text/javascript" src="<{PUBLIC_HOME}>js/aws.js"></script>
  <script type="text/javascript" src="<{PUBLIC_HOME}>js/aw_template.js"></script>
  <script type="text/javascript" src="<{PUBLIC_HOME}>js/app.js"></script>
  <script type="text/javascript" src="<{PUBLIC_HOME}>js/compatibility.js"></script>
  <script type="text/javascript" src="<{PUBLIC_HOME}>js/md5.js"></script>
  <!--[if lte IE 8]>
  <script type="text/javascript" src="<{PUBLIC_HOME}>js/respond.js"></script>
  <![endif]-->
  <style type="text/css">.fancybox-margin {
    margin-right: 17px;
  }</style>
</head>

<body>
<noscript id="noscript" unselectable="on">
  <div class="aw-404 aw-404-wrap container">
    <img src="<{PUBLIC_HOME}>common/no-js.jpg">
    <p>你的浏览器禁用了JavaScript, 请开启后刷新浏览器获得更好的体验!</p>
  </div>
</noscript>

<{block name="wrapper"}><{/block}>

<div class="aw-footer-wrap">
  <div class="aw-footer">
    Copyright &copy; 2016-2099, All Rights Reserved
    <span class="hidden-xs">
    Powered By
    <a target="blank" href="http://helloitbull.net/">有问必答 1.0</a>
    </span>

  </div>
</div>

</body>
</html>