<{extends file="user/common.html"}>

<{block name='title'}>注册<{/block}>

<{block name="wrapper"}>

<div class="aw-register-box">
	<div class="mod-head">
		<a href="">
			<img alt="" src="<{PUBLIC_HOME}>css/default/img/login_logo.png"></a>
		<h1>注册新用户</h1>
	</div>
	<div class="mod-body">
		<form method="post" action="<{framework\core\Factory::U('home/user/msmCheck')}>">
			<ul>
				<li>
					<input type="text" value="" name="msm" placeholder="请输入手机号码" class="aw-register-email form-control">
					<span style="float:right"><input type="submit" value="点击发送验证码"></span>
				</li>
				<li class="aw-register-verify">
					<img src="<{framework\core\Factory::U('home/user/showCaptcha')}>" onclick="this.src='?m=home&c=user&a=showCaptcha&'+Math.random()" id="captcha" class="pull-right">

					<input type="text" placeholder="验证码" name="seccode_verify" class="form-control">
				</li>
				
				<li class="last">
					<label>
						<input type="checkbox" name="agreement_chk" value="agree">我同意</label>
					<a class="aw-agreement-btn" href="javascript:;">用户协议</a>
					<a class="pull-right" href="<{framework\core\Factory::U('home/user/login')}>">已有账号?</a>
					<div class="aw-register-agreement hide">
						<div id="register_agreement" class="aw-register-agreement-txt">
							当您申请用户时，表示您已经同意遵守本规章。
							<br>
							欢迎您加入本站点参与交流和讨论，本站点为社区，为维护网上公共秩序和社会稳定，请您自觉遵守以下条款：
							<br>
							<br>
							一、不得利用本站危害国家安全、泄露国家秘密，不得侵犯国家社会集体的和公民的合法权益，不得利用本站制作、复制和传播下列信息：
							<br>
							&#12288;（一）煽动抗拒、破坏宪法和法律、行政法规实施的；
							<br>
							&#12288;（二）煽动颠覆国家政权，推翻社会主义制度的；
							<br>
							&#12288;（三）煽动分裂国家、破坏国家统一的；
							<br>
							&#12288;（四）煽动民族仇恨、民族歧视，破坏民族团结的；
							<br>
							&#12288;（五）捏造或者歪曲事实，散布谣言，扰乱社会秩序的；
							<br>
							&#12288;（六）宣扬封建迷信、淫秽、色情、赌博、暴力、凶杀、恐怖、教唆犯罪的；
							<br>
							&#12288;（七）公然侮辱他人或者捏造事实诽谤他人的，或者进行其他恶意攻击的；
							<br>
							&#12288;（八）损害国家机关信誉的；
							<br>
							&#12288;（九）其他违反宪法和法律行政法规的；
							<br>
							&#12288;（十）进行商业广告行为的。
							<br>
							<br>
							二、互相尊重，对自己的言论和行为负责。
							<br>
							三、禁止在申请用户时使用相关本站的词汇，或是带有侮辱、毁谤、造谣类的或是有其含义的各种语言进行注册用户，否则我们会将其删除。
							<br>
							四、禁止以任何方式对本站进行各种破坏行为。
							<br>
							五、如果您有违反国家相关法律法规的行为，本站概不负责，您的登录信息均被记录无疑，必要时，我们会向相关的国家管理部门提供此类信息。
						</div>
					</div>

				</li>
				<li class="clearfix">
					<input type="submit" value="注册" class="btn btn-large btn-blue btn-block">
				</li>
			</ul>
		</form>
	</div>
	<div class="mod-footer"></div>
</div>

<{/block}>
